<div>
  Users
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Token</th>
        <th>Expired</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.credential.access_token %></td>
          <td><%= user.credential.expired? %></td>
          <td>
            <% if user.credential.expired? %>
              <%= link_to "Refresh", refresh_credentials_dashboard_path(user) %>
            <% else %>
              <%= link_to "Emails", user_emails_dashboard_path(user) %>
            <% end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
